.griditem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vh;
  padding: 10px;
}

.td {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vh;
}

.svg {
    width: 18px;
    height: 18px;
}

