.grid {
    width: 98%;
    margin-left: 330px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    max-width: 1120px;
    flex-direction: column;
    justify-content: space-around;
    display:inline-block;
    gap: 10px;
   
}


.grid-th{
    
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
    
   
}  

.col-sm-3 {
    display: flex;
}